.banner {
    background-size: cover;
    width:100%;
    height: 75vh;
}

.titlebloc{
    padding-top: 30vh;
    margin-left: 3vw;
}

h2 {
    font-size: 2.5rem;
    color: lightgray;
}

.slide{
    margin-top: -2vh;
}